h1 {
    background-color: #dcdcdc;
  }

h2 {
  background-color: #dcdcdc;
    opacity: 0;
    animation: fade-in 3s ease forwards;
  }

h2::after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 1px solid black;
    margin-top: 0.5em;
    animation: underline 1s ease forwards;
  }

@keyframes fade-in {
    to {
      opacity: 1;
    }
  }

@keyframes underline {
    to {
      width: 100%;
    }
  }